* {
	/*border: solid red 1px;*/
}

.note {
	color: red;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: justify;
	color: #2b2a2f;letter-spacing:
}

nav {
	z-index: 100;
	width: 100%;
}

.container {
	margin: 0;
	width: 100%;
}

.header {
	/*color: #fff;*/
	/*text-align: right;*/
	height: 100vh;
	background: url(../img/skullHead.jpg) no-repeat, center;
	background-attachment: fixed;
	background-position: center;
	width: 100vw;
	text-align: center;
	color: #fff;
	/*background-color: #eae0de;*/
	/*background-size: 750px;*/
}

.logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 25vh;
	color: #fff;
	padding-bottom: 50px;
}

.intro {
	color: #fff;
	max-width: 200px;
	text-align: left;
	/*margin-left: 75%;*/
	top: 45vh;
	margin-top: 25vh;
	margin-left: auto;
	margin-right: auto;
	padding: 3px 10px 3px 5px;
	background-color: #2b2a2f;
}

/*********	Nav: *********/

.mynav {
	background-color: #2b2a2f;
	/*min-height: 50px;*/
	/*top: 100vh;*/
	/*border-radius: 5px;*/
	padding: 0 15px 0 15px;
}

.navbar {
	border-radius: 0;
	/*margin-left: 100px;*/
}

/*.nav-container {
	margin: 0 auto;
	width: 800px;
}*/

/*.nav-button {
	padding: 25px;
	cursor: pointer;
}

.nav-button:hover {
	background-color: green;
}*/

.nav-btn {		/* bootdtrap */
	padding: 25px;
	background-color: #2b2a2f;
	color: #fff;
	/*color: green;*/
	height: 100%;
	border-radius: 0;
	width: 100%;
}

.nav-btn:hover {
	background-color: #F2E7E5;
	color: #fff;
}

/* toggle button */
.navbar-toggle {
	background-color: #2b2a2f;
	border: none;
}

.navbar-toggle:hover {
	color: green;
}

.navbar-nav {
	margin: 0;
}

.navbar-default {
	border: none;
}

.navbar-default
.navbar-collapse {
    border: none;
}

/*.navbar-default
.navbar-brand {
	color: red;
}*/

.navbar-default
.navbar-toggle
.icon-bar {
	background-color: #fff;
}

.navbar-toggle {
	border-radius: 0px;
}

li {
	list-style: none;
}

/*********	Main content: *********/

.main-body {
	/*background-color: #eae0de;*/
	max-width: 750px;
	margin: 0 auto;
	text-align: justify;
}

.portfolio {
	margin-top: 50px;
	margin-bottom: 100px;
}
.section {
	/*height: 100vh;*/
}

.section-header {
	/*text-align: right;*/
	/*margin: 0 100px 0 80px;*/
}

.gallery {
	/*margin: 15px 15px 15px 85px;*/
	/*max-width: 320px;*/
	/*width: max;*/
	text-align: center;
	margin: 0 auto;
	/*padding-top: 65px;*/
}

.player {

}

.audio-controll-component {
	margin: 10px;
}

.audio-controll-component:hover {
	color: red;
}

.thumb img {
	margin: 10px;
	cursor: pointer;
	border-radius: 100%;
}

.print {
	margin-top: 200px;
}

.art {
	/*margin-bottom: 4000px;*/
}
.caption {
	text-align: justify;
	/*margin-left: 85px;*/
	/*padding-top: 25px;*/
	/*background-color: #eae0de;*/
}

/********* Contact **************/

.contact {
	background-color: #eae0de;
	/*height: 750px;*/
	max-width: 750px;
	margin: 0 auto;
}
.social-icon {
	color: #2b2a2f;
}
.social-icon-group {
	padding: 10px;
}

/*********	Modal stuff *********/

.project-img {
	margin: auto;
	/*margin-bottom: 20px;*/
}

.arrow-nav {
	display: inline-block;
	padding: 10px;
	/*float: left;*/
}

.arrow-nav:hover {
	color: red;
}

.arrow-nav.left {
	float: left;
}

.arrow-nav.right {
	float: right;
}

.modal-header {
	border: none;
}

.modal-content {
	border-radius: 0px;
}

.modal-footer {
	border: none;
}

/********* Contact Info ****/

.contact-info {
	margin: 15px 0;
}

/*********	Footer *********/

.footer {
	margin-top: 100px;
	margin-bottom: 100px;
}

.copy {
	text-align: center;
}

/*
	Media queries
 */

@media (max-width: 768px) {
	.section {

	}

	.header {
		text-align: center;
	}

	.section-header {
		text-align: center;
		/*margin: auto;*/
	}

	.gallery {
		/*margin-left: 20px;*/
		padding: 0;
		margin: 0 auto;
	}

	.print {
		margin-top: 100px;
	}
}

@media (min-width: 768px) {
	.header {

	}

	.section-header {
		text-align: center;
		margin: auto;
	}

/*
center bootstrap nav-bar taken from:
http://stackoverflow.com/questions/20696814/center-bootstrap-navbar-do-not-understand-why-navigation-wont-center
*/
/* centered navigation */
	.nav.navbar-nav {
     	clear: left;
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
		left: 50%;
		text-align: center;
	}
	.nav.navbar-nav > li {
		position: relative;
		right: 50%;
	}
	.nav.navbar-nav li {
	    text-align: left
	}
}