* {
	/*border: solid red 1px;*/
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

nav {
	z-index: 100;
	width: 100%;
}

.container {
	margin: 0;
	width: 100%;
}

.header {
	/*color: #fff;*/
	/*text-align: right;*/
	height: 100vh;
	background: url(../img/winter.jpg) no-repeat, center;
	width: 100vw;
}

.logo {
	margin-left: auto;
	margin-right: auto;
}

.intro {
	max-width: 200px;
	text-align: left;
	/*margin-left: 75%;*/
	top: 45vh;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	background-color: #888;
	/*min-height: 50px;*/
	/*top: 100vh;*/
	/*border-radius: 5px;*/
	padding: 0 15px 0 15px;
}

.is-sticky {
	color: #fff;
	width: 100%;
}

/*********	Main content: *********/

.section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.section-header {
	margin: 0 15px 0 15px;
}

.gallery {
	margin: 15px, auto, 15px, auto;
}

.plyer {

}

.audio-controll-component {
	margin: 10px;
}

.audio-controll-component:hover {
	color: red;
}

.thumb img {
	margin: 3px;
}

.art {
	margin-bottom: 4000px;
}

/*********	Modal stuff *********/

.project-img {
	margin: auto;
}

.arrow-nav {
	display: inline-block;
	padding: 10px;
	/*float: left;*/
}

.arrow-nav:hover {
	color: red;
}

.arrow-nav.left {
	float: left;
}

.arrow-nav.right {
	float: right;
}

/*
	Media queries
 */

@media (max-width: 768px) {
	.header {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.header {

	}
}