* {
	/*border: solid red 1px;*/
}

body{
	font-family: "Open Sans";
}

#left-col {

}
#center-col {

}
#right-col {

}

#projects {
	/*margin: 0px;*/
}

.sub-header {
	text-align: center;
}

.content {
	padding: 0px 50px 0px 50px;

}

.footer {

}


.welcome-bg {
	text-align: center;
	height: 100vh;
	background: url("../images/winter.jpg");
}

.welcome h1 {
	color: white;
	text-align: right;
	letter-spacing: 0.5em;
}


/*.container {
	height: 100vh;
	background: white;
}*/

.project {
	width: 50px;
	margin: 2px;
}

.slide-info {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 20%;
}

.slide-info h2  {
	color: white;
	padding-left: 50px;
}

.slide-info p {
	color: white;
	padding-left: 50px;
	max-width: 500px;
}