<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<title>Phonofidelic test-site</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- // <script type="text/javascript" src="bower_components/galleriffic/js/jquery.galleriffic.js"></script> -->
	<script type="text/javascript" src="bower_components/sticky/jquery.sticky.js"></script>
	<script src="bower_components/oauth-signature/dist/oauth-signature.js"></script>
	<script>
	  $(document).ready(function(){
	    $("#nav").sticky({topSpacing:15});
	  });
	</script>
</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="col-xs-12">
				<!-- <img src="img/logo.png" alt="phonofidelic logo" class="img-responsive"> -->
				<h1>phonofidelic</h1>
			</div>
			<div class="col-xs-12 col-md-4">
				<p class="intro">
					is a way for me to [do stuff] without the boundaries of a fixed profession. I rely on diverse experiences from all aspects and periods of my life [and shared experiences] in order to bring forth unexpected results. The unexpected is perhaps what I value most in my work.
				</p>
			</div>
		</div>
		<nav class="nav" id="nav">
			<div class="container">
				<h2>nav</h2>
			</div>
		</nav>
	</div>

	<div class="row">
		<div class="col-xs-4 gallery" id="viewer">
		</div>
	</div>

	<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body" id="project-img">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/template" id="img-thumb">
		<img src="<%= thumb %>" alt="<%= alt %>" class="image" type="button" data-toggle="modal" data-target="#img-modal">
	</script>
	<script type="text/template" id="project-view">
		<img src="<%= src %>" alt="<%= alt %>" class="image">
	</script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="js/models/singleImgModel.js"></script>
    <script src="js/views/singleImgView.js"></script>
    <script src="js/views/projectView.js"></script>
    <script src="js/views/allImgView.js"></script>
    <script src="js/collections/allImg.js"></script>
    <script src="js/galleryApp.js"></script>
	<!-- // <script src="js/imgViewer.js"></script> -->
</body>
</html>